{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
                <script async data-uid="379e7f0f9c" src="https://artisanal-artisan-1991.ck.page/379e7f0f9c/index.js"></script>

{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
