{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
        <br>
              Enjoyed this post? Subscribe to my newsletter to get more like it.
      <script async data-uid="379e7f0f9c" src="https://artisanal-artisan-1991.ck.page/379e7f0f9c/index.js"></script>

      </div>
      {% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
